@mixin button ($color: $button-color) {

  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  background-color: $color;
  //border: none;
  vertical-align: middle;
  border: 1px solid darken($color, 5%);
  border-bottom-width: 2px;

  font: 100%/1 'Titillium Web', sans-serif;
  font-weight: 700;
  &:hover {
    background-color: lighten($color, 5%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  &:active {
    background-color: darken($color, 5%);
    box-shadow: none;
    color: darken(#fff, 5%);

  }
  &:focus {
    outline: 0;
  }
}