@mixin button {
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  background-color: $button-color;
  border: none;
  vertical-align: middle;

  font: 100%/1 'Titillium Web', sans-serif;
  font-weight: 700;
  &:hover {
    background-color: lighten($button-color, 5%);
  }
  &:active {
    background-color: darken($button-color, 5%);
  }
}