$tipBackgroundColor: #3F51B5;

.tips {
  position: absolute;
  width: 700px;
  bottom: 15px;
  left: 15px;
  div {
    margin-top: 5px;
    border: 2px solid darken($tipBackgroundColor, 5%);
    background-color: $tipBackgroundColor;
    border-radius: 2px;
    padding: 3px;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #FFFFFF;

  }
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}