$main-area-color: #2ecc71;


$header-color: darken($main-area-color, 20%);




$right-panel-background-color: darken($main-area-color, 10%);
$right-panel-text-color: #ffffff;

$textblack: #424242;


$header-height: 30px;


$button-color: #2980b9;

$grandis: #FFCF79;
$linen:  #E5E4D7;