@import "colors";
@import "buttons";

.right-side-panel {
  position: relative;
  background-color: $rightPanelBackground;
  display: inline-block;
  width: 350px;
  vertical-align: top;
  height: 100%;
  color: $rightPanelTextColor;
  padding: 10px;

  .text-info {
    background: darken($rightPanelBackground, 3%);
    border-radius: 3%;
    margin-top: 10px;
      //border-bottom: 1px solid;
    padding-left: 5px;

    &:hover {
        background: darken($rightPanelBackground, 7%);

    }

  }
  button {
    @include button;
    height: 30px;
    width: 95%;
    margin: 10px 0 10px 7.5px;
  }

}
#editor {
    margin-top: 10px;
    background: darken($rightPanelBackground, 3%);

}
#positioning-theory {
  height: 200px;
}

#footer {
  font-weight: 300;
  font-size: small;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

